body{
    background-color: #eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    width: 20%;
    height: 30%;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: white;
    margin: 10px;
    overflow: hidden;
}
.btn-si{
    background-color: teal;
}
.btn-no{
    background-color: #ff0044;
}
.contenedor{
    width: 75%;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
}
.respuesta{
    display: none;
    width: 55%;
    height: 35%;
    overflow: hidden;
    background-color: tomato;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
   
}
.parrafo{
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}